/* State and District Information Dashboard
  stylesheet
  author:   jbetley (https://github.com/jbetley)
  version:  0.9
  date:     03/27/25
*/

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -moz-osx-font-smoothing: grayscale;
  image-rendering: -webkit-optimize-contrast;
}

body {
  color: steelblue;
  font-family: 'Inter', sans-serif;
  min-width: fit-content;
/*  overflow-y: scroll; /* always show scrollbar to prevent pixel shift when changing tabs */
  margin: 5px;
  background-color: #F2F2F2;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 2vh;
    width: 100%;
}

h3 {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

/* TODO */
svg {
  overflow: visible;
}

.label__header {
  background-color: #6783a9;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.label__header-sm {
  background-color: #6783a9;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 60%;
  border-radius: 5px;
}

label {
  margin: 10px;
  font-size: .75rem;
  font-weight: 600;
  color:  steelblue;
}

/* Navigation */
button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

button {
  -webkit-appearance: button;
  appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.row {
  display: flex;
}

.column, .columns {
  float: left;
}

.twelve.columns {
  width: 100%;
  margin-left: 0;
}

.nav-container {
  display: grid;
  place-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.k8nav.open, .hsnav.open, .typenav.open, .analysisnav.open {
  z-index: 99;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display:inline;
}

#nav-tabs {
  z-index: 99;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display:inline;
}

.tab  {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  color: steelblue;
  background-color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(192, 193, 199, .5);
  border-radius: .5rem;
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
  float:left;
  display:inline;
  width: 165px;
}

.tab:hover {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #c0c1c7;
  font-size: 11px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(70, 130, 180, .5);
  border-radius: .5rem;
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
  float:left;
  display:inline;
  width: 165px;
}

.tab.active {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #c0c1c7;
  font-size: 11px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(70, 130, 180, .5);
  border-radius: .5rem;
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
  float:left;
  display:inline;
  width: 165px;
}

.tab.type, .tab.type.active, .tab.type:hover {
  width: 65px;
}

.tab.analysis, .tab.analysis.active, .tab.analysis:hover {
  width: 105px;
}

.tab.k8info, .tab.k8info.active, .tab.k8info:hover {
  width: 85px;
}

.tab.hsinfo, .tab.hsinfo:active, .tab.hsinfo:hover {
  width: 105px;
  height: 40px;
}

.panel-container  {
  border: solid #c0c1c7 1px;
  padding: 10px;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  height: 100%;
  width: 100%;
}

/* Dropdown Menu */
#dropdown {
 width: 80%;
 background: none;
 font-size: .75rem;
 border: 1px solid rgba(192,193,199, .5);
 border-radius: .5rem;
 margin: 25px;
 padding: .2em;
}

#corpSelect {
  width: 45%
}

select {
  background: none;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: steelblue;
  font-size: .75rem;
  padding: .5rem .5rem;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

#corpSelect > select {
  width: 45%
}
select option {
  color: steelblue;
}

select:hover {
  background-color: #c0c1c7;
}

select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}


/* Grid */
/* section {
  margin-top: -0.6em;
} */

/* GRID TEST */

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


/* section#state .grid { */
.state-grid {  
  grid-area: 1 / 1 / span 1 / span 3;
  margin: 1em;
  grid-gap: .5em;
}

.district-grid {  
  grid-area: 1 / 4 / span 1 / span 5;
  margin: 1em;
  grid-gap: .5em;
}

.table-grid {  
/* section#table .grid { */
  grid-area: 2 / 1 / span 1 / span 5;
  margin: 1em;
  grid-gap: .5em;
}

/* Containers */

.table-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 15px;
  align-items: center;
  border-radius: .5em;
  background-color: #fff;
  height: 600px;
}

.state-box {
  height:75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 15px;
  margin-bottom: 5px;
  align-items: center;
  border-radius: .5em;
  background-color: #fff;
}

.district-box {
  height:75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 15px;
  margin-bottom: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5em;
  background-color: #fff;
}

#state-info-table {
  display: flex;
}

#district-info-table {
  display: flex;
}

.state-box-state-info {
  width: 100%;
  height:auto;
  text-align: center; 
  display:inline-table;
}

.state-table-1 {
  font-family: 'Inter', sans-serif;
  color: steelblue;
  height: 120px;
  /* background-color: #e9e9eb; */
  font-size: 12px;
  font-weight: 400;
  border-radius: .5em;
  margin-right: 25px;
}

.state-table-1 td:first-child {
  font-weight: 600;
}

.state-table-2 {
  font-family: 'Inter', sans-serif;
  color: steelblue;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  border-radius: .5em;
}
.state-table-2 td {
  text-align: center; 
  vertical-align: top; /* here */
}

.state-table-2 td:first-child {
  text-align: left; 
  font-weight: 600;
}
.state-table-2 tr:first-child {
  font-weight: 600;
}

.district-table {
  padding: 5px;
  font-family: 'Inter', sans-serif;
  color: steelblue;
  font-size: 12px;
  font-weight: 400;
  border-radius: .5em;
  /* margin-right: 25px; */
}

.district-table td:first-child {
  font-weight: 600;
}

.district-table td:nth-child(4) {
  font-weight: 600;
}

.empty-box {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

/* Ag Grid */
.ag-theme-quartz {
  --ag-font-family: 'Inter', sans-serif;
  --ag-font-size: 12px;
  --ag-borders: none;
  --ag-borders-critical: solid 1px;
  --ag-border-color: steelblue;
  --ag-header-foreground-color:steelblue;
  --ag-data-color:steelblue;
  --ag-header-column-separator-display: none;
  --ag-header-column-resize-handle-display: none;
  --ag-row-border-color: transparent;
  --ag-header-background-color: #fff;
  --ag-odd-row-background-color: rgb(238, 238, 238);
}
.ag-theme-quartz .ag-cell-value {
  font-size: 10px;
  font-weight: 600;
  line-height: 15px !important;
  word-break: normal; /* prevent words from breaking */
}
.ag-theme-quartz .ag-row-odd {
  background-color: var(--ag-odd-row-background-color);
}
.ag-center-aligned-cell-with-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid steelblue !important;
}
.ag-center-aligned-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ag-left-aligned-cell {
  display: flex;
  align-items: center;
  text-align: left;
}

/* Currently affecting all headers */ 
/* TODO: Center header text not working */

.ag-theme-quartz .ag-header {
  font-family: 'Inter', sans-serif;
}
.ag-theme-quartz .ag-header-group-cell {
  font-weight: normal;
  font-size: 12px;
}
.ag-theme-quartz .ag-header-cell {
  font-weight: 600;
  font-size: 10px;
}

/* adjusts font size for ag-grid header once it hits
  a certain size */
@media (max-width: 940px) 
 {
  .ag-header-cell {
    /* writing-mode: vertical-lr;
    text-orientation: upright; */
    font-size: 11px;
    padding: 8px;
  }
 }

.text-center * {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}