<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>SchoolStatus District Information Dashboard</title>

   <!-- Imported Fonts -->
   <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">

   <!-- Third-Party Modules -->
   <script src="{{ url_for('static', filename='ag-grid-community.min.js')}}"></script>

   <!-- Local Modules -->
   <script src="{{ url_for('static', filename='table-helpers.js')}}"></script>
   <script src="{{ url_for('static', filename='utils.js')}}"></script>

   <!-- Imported Stylesheets -->
   <link rel="stylesheet" media="all" href="{{ url_for('static', filename='dashboard.css')}}">
</head>
<body>
   <h3>State and School District Information</h3>
   <form name="dashboardselect" id="dropdown">
      <label>Select State:</label>
      <select name="state" id="stateSelect"></select>
      <br>
      <label>Select District:</label>
      <select name="district" id="districtSelect"></select>
      <div class="note-container"><div class="note">Use District dropdown or click on table row to change district information.</div></div>
   </form>
   <div id ="tabnavigation">
      <div class="row">
         <div class="nav-container twelve columns">
            <div id="nav-tabs" class="nav">
               <button data-tab="tab-n-1" id="titleTab" class="tab main active">Title Funding</button>
               <button data-tab="tab-n-2" id="attendanceTab" class="tab main">Attendance Data</button>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="panel-container">
         <div class="parent">
            <div class="state-grid">
               <div class="empty-box label" id="container-state-label"><div id="state-label" class="label__header"></div></div>
               <div class="state-box state-info" id="container-state-info">
                  <div class="state-table-1">
                     <div class="table-title" id="table-1-title"></div>
                     <div id="state-info-table-1"></div>
                  </div>
                  <div class="state-table-2">
                     <div class="table-title" id="table-2-title"></div>
                     <div id="state-info-table-2"></div>
                  </div>
               </div>
            </div>
            <div class="district-grid">
                  <div class="empty-box label" id="container-district-label"><div id="district-label" class="label__header"></div></div>
                  <div class="district-box district-info" id="container-district-info">
                     <div class="district-table" id="district-info-table"></div>
                  </div>
            </div>
            <div class="title-grid">
               <div class="empty-box label" id="container-title-table-label"><div id="title-table-label" class="label__header"></div></div>     
               <div class="table-box title-table"  id="container-title-table"><div id="titleTable" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
            </div>
            <!-- <div class="data-grid">
               <div class="empty-box label" id="container-data-label"><div id="data-label" class="label__header"></div></div>
               <div class="data-box data-info" id="container-data-info">
                  <div class="data-attendance-table">
                     <div class="table-title" id="attendance-table-title"></div>
                     <div id="attendance-table"></div>
                  </div>
                  <div class="data-absenteeism-table">
                     <div class="table-title" id="absenteeism-table-title"></div>
                     <div id="absenteeism-table"></div>
                  </div>
               </div>
            </div>             -->
            <div class="attendance-grid">
               <div class="empty-box label" id="container-attendance-table-label"><div id="attendance-table-label" class="label__header"></div></div>     
               <div class="table-box attendance-table"  id="container-attendance-table"><div id="attendanceTable" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
            </div>
            <!-- <div class="table-grid">
               <div class="empty-box label" id="container-absenteeism-table-label"><div id="absenteeism-table-label" class="label__header"></div></div>     
               <div class="table-box absenteeism-table"  id="container-absenteeism-table"><div id="absenteeismTable" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
            </div>             -->
         </div> 
      </div>  
   </div>
</body>
<script type="module">

// National State and School District Info
// author:   jbetley (https://github.com/jbetley)
// version:  1.0
// date:     03.29.25

const allStatesUrl = `${window.origin}/load`;
const allStatesResponse = await fetch(allStatesUrl);
var allStatesObj = await allStatesResponse.json();

var tableGridApi;
var selectedRow;

async function getStateData(select) {
   const data = await fetch(`${window.origin}/states`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
   });
   await setDistrictList()
   displayStateInfoTables(data);
};


async function getAllDistrictData(select) {
   const data = await fetch(`${window.origin}/districts`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
      });
   displayDistrictTitleTable(data);
};


async function getAttendanceData(select) {
   console.log(select)
   const data = await fetch(`${window.origin}/attendance`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
      });
   displayAttendanceTables(data);
};


async function getSingleDistrictData(select) {
   selectedRow = select;   // global
   const data = await fetch(`${window.origin}/district`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
   });
   displayDistrictInfoTable(data);
};


async function setStateList() {
   const uniqueStates = [...new Map(allStatesObj.map(
      item => [item["State Abbreviation"], item]
   )).values()];

   let stateDropdown = uniqueStates.map(
      el => ({[el["State Abbreviation"]]: el["State Full"]})
   );

   removeOptions(stateSelection);

   stateDropdown.forEach(obj => {
      Object.entries(obj).forEach(([key, value]) => {
         stateSelection.appendChild(new Option(value, key));
      });
   });
};


async function setDistrictList() {
   let stateDistricts = allStatesObj.filter(
      val => val["State Abbreviation"].includes(stateSelection.value)
   );

   // NOTE: we want list sorted alphabetically, except for default, which we
   // want to be the school with the highest Title I Allocation (the
   // DistrictTitleTable order is sorted by Title I Allocation)
   let sortedDistricts = sortObjectsByNumberWithBlanksToEnd(stateDistricts, "Title I");

   const highest = sortedDistricts.shift();

   sortedDistricts.sort((a, b) => a["State District Name"].toLowerCase() > b["State District Name"].toLowerCase() ? 1 : -1);
   const districtObj = sortedDistricts.map(obj => ({ name: obj["State District Name"]}));

   // a different way to get unique values (see setStateList)
   let districtDropdown = Array.from(
      new Set(districtObj.map(o => JSON.stringify(o)))).map(str => JSON.parse(str)
   );

   // add district with highest Title I value to top of array
   districtDropdown.splice(0, 0, {name: highest["State District Name"]});

   // clear existing options
   removeOptions(districtSelection);

   districtDropdown.forEach(
      (obj) => districtSelection
      .appendChild(new Option(obj.name, obj.name))
   );
};


// NOTE: This needs to be in index.html so getSingleDistrictData()
// is in scope
function createTitleTable(data, tableID) {
   let keys = Object.keys(data.reduce(function(result, obj) {
      return Object.assign(result, obj);
   }, {}));

   let nameLabel;

   if (tableID == "titleTable") {
      nameLabel = "State District Name"
   }
   else {
      nameLabel = "District Name"
   }
   
   keys = keys.filter(item => item != nameLabel);
   keys.unshift(nameLabel)

   let columns = keys.map(field => ({field}));

   columns.forEach(function(e) {

      if (e.field == nameLabel) {
         e.valueFormatter = "";
         e.resizable = false;
         e.autoHeight = true;
         e.wrapText = true;
         e.minWidth = 200;
         e.maxWidth = 200;
         e.cellClass = "ag-left-aligned-cell";
         e.headerClass = "text-center";
      } else if (e.field == "Allocation Year") {
         e.valueFormatter = blankFormatter;
         e.flex = 1;
         e.resizable = false;
         e.cellClass = "ag-center-aligned-cell";
         e.headerClass = "text-center";
      } else if (e.field.includes("Title")) {
         e.valueFormatter = moneyFormatter;
         e.flex = 1;
         e.resizable = false;
         e.cellClass = "ag-center-aligned-cell";
         e.headerClass = "text-center";
      }
      else {
         e.valueFormatter = "";
         e.flex = 1;
         e.resizable = false;
         e.cellClass = "ag-center-aligned-cell";
         e.headerClass = "text-center";
      }
   });

   let options = {
      columnDefs: columns,
      onRowClicked: function (e) {
         const school = e.data[nameLabel];
         districtSelection.value = school;
         getSingleDistrictData(school);
      },
      rowData: data,
      gridId: tableID,
      tooltipShowDelay: 0,
      enableBrowserTooltips: false
   };
   return options
};


var stateSelection = document.getElementById("stateSelect");

stateSelection.addEventListener("change", async () => {
   await setDistrictList();
   await getStateData(stateSelection.value);
   await getSingleDistrictData(districtSelection.value);
});

var districtSelection = document.getElementById("districtSelect");

districtSelection.addEventListener("change", async () => {
   getSingleDistrictData(districtSelection.value);
});


// switches active status for tabs
const navTabs = document.querySelector("div#nav-tabs"),
nav_tab_elms = document.querySelectorAll("button[data-tab], div[data-tab]");
navTabs.onclick = ({target}) => {
   // ignore other clicks in this area (like spaces between buttons)
   if (!target.matches("button[data-tab]")) return;

   // cycling through "dataset", tab-n-1", "tab-n-2", etc. and setting
   // class to active where the target.dataset equals the class
   nav_tab_elms.forEach(elTab => {
      elTab.classList
      .toggle("active", (elTab.dataset.tab===target.dataset.tab))
   })
};

// Navigation Tabs //
if (tabnavigation.addEventListener) {
   tabnavigation.addEventListener('click',navigateHandler,false);
}
else {
   tabnavigation.addEventListener('onclick',navigateHandler);
};

async function navigateHandler(e) {
   e = e || window.event;
   const target = e.target || e.srcElement;

   console.log(target.id)

   const attendanceContainerLabel = document.getElementById("container-attendance-table-label");
   const attendanceContainer = document.getElementById("container-attendance-table");
   const titleContainerLabel = document.getElementById("container-title-table-label");
   const titleContainer = document.getElementById("container-title-table");

   if (target.id == "attendanceTab") {

      titleContainer.style.display = "none";
      titleContainerLabel.style.display = "none";
      attendanceContainer.style.display = "flex";
      attendanceContainerLabel.style.display = "flex";

      getAttendanceData(stateSelection.value);
   }
   else {

      attendanceContainer.style.display = "none";
      attendanceContainerLabel.style.display = "none";
      titleContainer.style.display = "flex";
      titleContainerLabel.style.display = "flex";

      getAllDistrictData(stateSelection.value);
   }
}


async function displayStateInfoTables(data) {

   const pageTab = document.querySelector(".tab.main.active").id;

   const stateName = stateSelection.options[stateSelection.selectedIndex].text;
   let stateLabel = document.getElementById("container-state-label");
   stateLabel.firstChild.textContent = stateName + " Overview";

   let firstPart = {};
   let secondPart = {};
   let year;

   if (!Array.isArray(data) || !data.length) {
      year = "-";
   }
   else {
      [firstPart, secondPart] = splitObject(data[0], 6);

      // get title year for table-2 label
      year = getYearString(firstPart);
   }

   let table2Label = document.getElementById("table-2-title");
   table2Label.textContent = "State Allocations (" + String(year) + ")";

   let table1Label = document.getElementById("table-1-title");
   table1Label.textContent = "State Overview";

   //fade out both tables at once using the container
   let stateInfoTableDiv = document.getElementById("container-state-info");
   
   fadeDiv(stateInfoTableDiv, 250);

   setTimeout(() => {
      stateInfoTable(secondPart, "state-info-table-1");
      allocationsTable(firstPart, "state-info-table-2");
      fadeDiv(stateInfoTableDiv, 250, false);
   }, 300);

   await getAllDistrictData(stateSelection.value);
};


// All selected state district title allocations
async function displayDistrictTitleTable(data) {

   const pageTab = document.querySelector(".tab.main.active").id;

   let tableLabel = document.getElementById("container-title-table-label");
   tableLabel.firstChild.textContent = "School District List";

   // remove unused columns
   let kept = [
      "State District ID", "State District Name", "Allocation Year", "Title I",
      "Title II", "Title III", "Title IV", "Title V"
   ];

   let tabledata = filterObj(data, kept);

   console.log(tabledata)
   let tableOptions = createTitleTable(tabledata,"titleTable");

// TODO: WRONG? SHOULD THIS BE DISTTITLETABL?
   if (!displayStateInfoTables.initialize) {

      const tableGridDiv = document.querySelector("#titleTable");

      tableGridApi = agGrid.createGrid(
            tableGridDiv, tableOptions
         );
      displayStateInfoTables.initialize = true;
   }
   else {
      tableGridApi.setGridOption(
            "columnDefs", tableOptions.columnDefs
         );
      tableGridApi.setGridOption("rowData", tabledata);
   }
};

// TODO
async function displayAttendanceTables(data) {

   console.log("ATTENDANCE")


   let attendanceLabel = document.getElementById("container-attendance-table-label");
   const stateName = stateSelection.options[stateSelection.selectedIndex].text;
   attendanceLabel.firstChild.textContent = stateName + " Attendance Rate";

   let kept = [
      "District ID", "District Name", "Year", "Attendance Rate"
   ];

   let tabledata = filterObj(data, kept);

   // Swap keyToKeep value with keyToReplace and drop both
   // original items in the object
   function replaceKeyWithValue(arr, keyToKeep, keyToReplace) {
      return arr.map(obj => {
         if (obj.hasOwnProperty(keyToReplace)) {
            const value = obj[keyToKeep];
            obj[value] = obj[keyToReplace];
            delete obj[keyToKeep];
            delete obj[keyToReplace];
         }
         return obj;
      });
   }

   let transformeddata = replaceKeyWithValue(tabledata, 'Year', 'Attendance Rate');

   function mergeObjectsWithSameValue(arr, key) {
      const merged = {};
      arr.forEach(obj => {
         const value = obj[key];
         if (merged[value]) {
            Object.assign(merged[value], obj);
         } else {
            merged[value] = obj;
         }
      });
      return Object.values(merged);
   }

   let merged = mergeObjectsWithSameValue(transformeddata, "District ID")
   console.log(merged)

   let tableOptions = createTitleTable(merged, "attendanceTable");

   if (!displayAttendanceTables.initialize) {

      const tableGridDiv = document.querySelector("#attendanceTable");

      tableGridApi = agGrid.createGrid(
            tableGridDiv, tableOptions
         );
      displayAttendanceTables.initialize = true;
   }
   else {
      tableGridApi.setGridOption(
            "columnDefs", tableOptions.columnDefs
         );
      tableGridApi.setGridOption("rowData", tabledata);
   }
};
// TODO

async function displayDistrictInfoTable(data) {

   const districtName = districtSelection.options[districtSelection.selectedIndex].text;
   let districtLabel = document.getElementById("container-district-label");
   districtLabel.firstChild.textContent = districtName + " Overview";

   // ensure selected table row and selected dropdown item are the same
   districtSelection.value = selectedRow;

   districtInfoTable(data[0], "district-info-table");
};


/* Initialize */
if (document.readyState !== "loading") {
   await setStateList()
   await getStateData(stateSelection.value);
   await  getSingleDistrictData(districtSelection.value);
};

</script>
</html>