<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>SchoolStatus District Information Dashboard</title>

   <!-- Imported Fonts -->
   <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">

   <!-- Third-Party Modules -->
   <script src="{{ url_for('static', filename='ag-grid-community.min.js')}}"></script>

   <!-- Local Modules -->
   <script src="{{ url_for('static', filename='table-helpers.js')}}"></script>
   <script src="{{ url_for('static', filename='utils.js')}}"></script>
   <script src="{{ url_for('static', filename='customNoRowsOverlay.js')}}"></script>

   <!-- Imported Stylesheets -->
   <link rel="stylesheet" media="all" href="{{ url_for('static', filename='dashboard.css')}}">
</head>
<body>
   <h3>State and School District Information</h3>
   <form name="dashboardselect" id="dropdown">
      <label>Select State:</label>
      <select name="state" id="stateSelect"></select>
      <br>
      <label>Select District:</label>
      <select name="district" id="districtSelect"></select>
      <div class="note-container"><div class="note">Use District dropdown or click on table row to change district information.</div></div>
   </form>
   <div id ="tabnavigation">
      <div class="row">
         <div class="nav-container twelve columns">
            <div id="nav-tabs" class="nav">
               <button data-tab="tab-n-1" id="titleTab" class="tab main active">Title Funding</button>
               <button data-tab="tab-n-2" id="attendanceTab" class="tab main">Attendance Data</button>
            </div>
         </div>
      </div>
   </div>
   <div class="panel-container">
      <div class="row">
         <div class="parent">
               <div class="state-grid">
                  <div class="header-box persistent label" id="container-state-label"><div id="state-label" class="label__header"></div></div>
                  <div class="state-box" id="container-state-info">
                     <div class="state-table-1">
                        <div class="table-title" id="table-1-title"></div>
                        <div id="state-info-table-1"></div>
                     </div>
                     <div class="state-table-2">
                        <div class="table-title" id="table-2-title"></div>
                        <div id="state-info-table-2"></div>
                     </div>
                  </div>
               </div>
               <div class="district-grid">
                  <div class="header-box persistent label" id="container-district-label"><div id="district-label" class="label__header"></div></div>
                  <div class="district-box" id="container-district-info">
                     <div class="district-table" id="district-info-table"></div>
                  </div>
               </div>
               <div class="title-grid">
                  <div class="header-box label" id="container-title-label"><div id="title-label" class="label__header"></div></div>     
                  <div class="table-box"  id="container-title-table"><div id="titleTable" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
               </div>
               <div class="attendance-grid">
                  <div class="header-box label" id="container-attendance-label"><div id="attendance-label" class="label__header"></div></div>
                  <div class="table-box"  id="container-attendance-table"><div id="attendanceTable" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
               </div> 
               <div class="absenteeism-grid">
                  <div class="header-box label" id="container-absenteeism-label"><div id="absenteeism-label" class="label__header"></div></div>
                  <div class="table-box"  id="container-absenteeism-table"><div id="absenteeismTable" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
               </div>
         </div>            
      </div>
   </div>
</body>
<script type="module">

// National State and School District Info
// author:   jbetley (https://github.com/jbetley)
// version:  1.0
// date:     03.29.25

const allStatesUrl = `${window.origin}/load`;
const allStatesResponse = await fetch(allStatesUrl);
var allStatesObj = await allStatesResponse.json();

var tableGridApi,
   attendanceGridApi,
   absenteeismGridApi,
   selectedRow;

// TODO: TRYING TO FIND FLICKERING
const targetNode = document.getElementById('state-info-table-1'); // Element to observe
   const config = { attributes: true, attributeFilter: ['class'] }; // Observe class attribute changes

   const observer = new MutationObserver((mutationsList) => {
   for (const mutation of mutationsList) {
      if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
         console.log('Class attribute changed:', mutation.target.className);
      }
   }
   });
   observer.observe(targetNode, config);
// TODO: TRYING TO FIND FLICKERING

const attendanceContainerLabel = document.getElementById("container-attendance-label");
const attendanceContainer = document.getElementById("container-attendance-table");

const absenteeismContainerLabel = document.getElementById("container-absenteeism-label");
const absenteeismContainer = document.getElementById("container-absenteeism-table");

const titleContainerLabel = document.getElementById("container-title-label");
const titleContainer = document.getElementById("container-title-table");

async function getStateData(select) {
   const data = await fetch(`${window.origin}/states`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
   });
   await setDistrictList()
   displayStateInfoTables(data);
};


async function getAllDistrictData(select) {
   const data = await fetch(`${window.origin}/districts`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
      });
   displayDistrictTitleTable(data);
};


async function getAttendanceData(select) {
   const data = await fetch(`${window.origin}/attendance`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
      });
   displayAttendanceTables(data);
};


async function getSingleDistrictData(select) {
   selectedRow = select;   // global
   const data = await fetch(`${window.origin}/district`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
   });
   displayDistrictInfoTable(data);
};


async function setStateList() {
   const uniqueStates = [...new Map(allStatesObj.map(
      item => [item["State Abbreviation"], item]
   )).values()];

   let stateDropdown = uniqueStates.map(
      el => ({[el["State Abbreviation"]]: el["State Full"]})
   );

   removeOptions(stateSelection);

   stateDropdown.forEach(obj => {
      Object.entries(obj).forEach(([key, value]) => {
         stateSelection.appendChild(new Option(value, key));
      });
   });
};


async function setDistrictList() {
   let stateDistricts = allStatesObj.filter(
      val => val["State Abbreviation"].includes(stateSelection.value)
   );

   // NOTE: we want list sorted alphabetically, except for default, which we
   // want to be the school with the highest Title I Allocation (the
   // DistrictTitleTable order is sorted by Title I Allocation)
   let sortedDistricts = sortObjectsByNumberWithBlanksToEnd(stateDistricts, "Title I");

   const highest = sortedDistricts.shift();

   sortedDistricts.sort((a, b) => a["District Name"].toLowerCase() > b["District Name"].toLowerCase() ? 1 : -1);
   const districtObj = sortedDistricts.map(obj => ({ name: obj["District Name"]}));

   // a different way to get unique values (see setStateList)
   let districtDropdown = Array.from(
      new Set(districtObj.map(o => JSON.stringify(o)))).map(str => JSON.parse(str)
   );

   // add district with highest Title I value to top of array
   districtDropdown.splice(0, 0, {name: highest["District Name"]});

   // clear existing options
   removeOptions(districtSelection);

   districtDropdown.forEach(
      (obj) => districtSelection
      .appendChild(new Option(obj.name, obj.name))
   );
};


// NOTE: This needs to be in index.html so
// getSingleDistrictData() is in scope
function createTitleTable(tableData, tableID) {

   let keys = Object.keys(tableData.reduce(function(result, obj) {
      return Object.assign(result, obj);
   }, {}));

   let yearKeys = [];

   // get keys (columns) in correct order
   if (tableID == "attendanceTable") {

      // get list of years and sort descending
      const infoCols = ["District Name", "ID"]
      yearKeys = keys.filter(item => !infoCols.includes(item));
      yearKeys.sort()
      yearKeys.reverse()
      keys = infoCols.concat(yearKeys)
   }
   else {
      keys = keys.filter(item => item != "District Name");
      keys.unshift("District Name")
   }

   let columns = keys.map(field => ({field}));

   columns.forEach(function(e) {

      if (e.field == "District Name") {
         e.valueFormatter = "";
         e.resizable = false;
         e.autoHeight = true;
         e.wrapText = true;
         e.minWidth = 150;
         e.maxWidth = 150;
         e.cellClass = "ag-left-aligned-cell";
         e.headerClass = "text-center";
      } else if (e.field == "Allocation Year") {
         e.valueFormatter = blankFormatter;
         e.flex = 1;
         e.resizable = false;
         e.cellClass = "ag-center-aligned-cell";
         e.headerClass = "text-center";
      } 
      else if (yearKeys.includes(e.field )) {
         e.valueFormatter = percentFormatter;
         e.flex = 1;
         e.resizable = false;
         e.cellClass = "ag-center-aligned-cell";
         e.headerClass = "text-center";
      } 
      else if (e.field.includes("Title")) {
         e.valueFormatter = moneyFormatter;
         e.flex = 1;
         e.resizable = false;
         e.cellClass = "ag-center-aligned-cell";
         e.headerClass = "text-center";
      }
      else {
         e.minWidth = 60;
         e.maxWidth = 60;
         e.valueFormatter = blankFormatter;
         e.flex = 1;
         e.resizable = false;
         e.cellClass = "ag-center-aligned-cell";
         e.headerClass = "text-center";
      }
   });

   let options = {
      columnDefs: columns,
      onRowClicked: function (e) {
         const school = e.data["District Name"];
         districtSelection.value = school;
         getSingleDistrictData(school);
      },
      rowData: tableData,
      gridId: tableID,
      tooltipShowDelay: 0,
      enableBrowserTooltips: false,
      noRowsOverlayComponent: CustomNoRowsOverlay,
      noRowsOverlayComponentParams: {
         noRowsMessageFunc: () =>
            "No Data to Display.",
      },
   };
   return options
};


var stateSelection = document.getElementById("stateSelect");

stateSelection.addEventListener("change", async () => {

   await getStateData(stateSelection.value);
   await getSingleDistrictData(districtSelection.value);

   const pageTab = document.querySelector(".tab.main.active").id;

   if (pageTab == "attendanceTab") {
      await getAttendanceData(stateSelection.value);
   } else {
      await getAllDistrictData(stateSelection.value);
   }
});


var districtSelection = document.getElementById("districtSelect");
districtSelection.addEventListener("change", async () => {
   getSingleDistrictData(districtSelection.value);
});


// switches active status for tabs
const navTabs = document.querySelector("div#nav-tabs"),
nav_tab_elms = document.querySelectorAll("button[data-tab], div[data-tab]");
navTabs.onclick = ({target}) => {
   // ignore other clicks in this area (like spaces between buttons)
   if (!target.matches("button[data-tab]")) return;

   // cycling through "dataset", tab-n-1", "tab-n-2", etc. and setting
   // class to active where the target.dataset equals the class
   nav_tab_elms.forEach(elTab => {
      elTab.classList
      .toggle("active", (elTab.dataset.tab===target.dataset.tab))
   })
};

// Navigation Tabs //
if (tabnavigation.addEventListener) {
   tabnavigation.addEventListener('click',navigateHandler,false);
}
else {
   tabnavigation.addEventListener('onclick',navigateHandler);
};

async function navigateHandler(e) {
   e = e || window.event;
   const target = e.target || e.srcElement;

   if (target.id == "attendanceTab") {

      titleContainer.style.display = "none";
      titleContainerLabel.style.display = "none";
      attendanceContainer.style.display = "flex";
      attendanceContainerLabel.style.display = "flex";
      absenteeismContainer.style.display = "flex";
      absenteeismContainerLabel.style.display = "flex";

      getAttendanceData(stateSelection.value);
   }
   else {

      attendanceContainer.style.display = "none";
      attendanceContainerLabel.style.display = "none";
      absenteeismContainer.style.display = "none";
      absenteeismContainerLabel.style.display = "none";
      titleContainer.style.display = "flex";
      titleContainerLabel.style.display = "flex";

      getAllDistrictData(stateSelection.value);
   }
};


async function displayStateInfoTables(data) {

   const stateName = stateSelection.options[stateSelection.selectedIndex].text;
   let stateLabel = document.getElementById("container-state-label");
   stateLabel.firstChild.textContent = stateName + " Overview";

   let firstPart = {};
   let secondPart = {};
   let year;

   if (!Array.isArray(data) || !data.length) {
      year = "-";
   }
   else {
      [firstPart, secondPart] = splitObject(data[0], 6);

      // get title year for table-2 label
      year = getYearString(firstPart);
   }

   let table2Label = document.getElementById("table-2-title");
   table2Label.textContent = "State Allocations (" + String(year) + ")";

   let table1Label = document.getElementById("table-1-title");
   table1Label.textContent = "State Overview";

   //fade out both tables at once using the container
   let stateInfoTableDiv = document.getElementById("container-state-info");
   
   fadeDiv(stateInfoTableDiv, 250);

   setTimeout(() => {
      stateInfoTable(secondPart, "state-info-table-1");
      allocationsTable(firstPart, "state-info-table-2");
      fadeDiv(stateInfoTableDiv, 250, false);
   }, 300);
};


async function displayDistrictInfoTable(data) {

const districtName = districtSelection.options[districtSelection.selectedIndex].text;
let districtLabel = document.getElementById("container-district-label");
districtLabel.firstChild.textContent = districtName + " Overview";

// ensure selected table row and selected dropdown item are the same
districtSelection.value = selectedRow;

districtInfoTable(data[0], "district-info-table");
};


// All selected state district title allocations
async function displayDistrictTitleTable(data) {
   
   let tableLabel = document.getElementById("container-title-label");
   tableLabel.firstChild.textContent = "School District List";

   // remove unused columns
   let kept = [
      "ID", "District Name", "Allocation Year", "Title I",
      "Title II", "Title III", "Title IV", "Title V"
   ];

   let tabledata = filterObj(data, kept);

   let tableOptions = createTitleTable(tabledata,"titleTable");

   if (!displayDistrictTitleTable.initialize) {

      // set default visibility of the three tables
      attendanceContainer.style.display = "none";
      attendanceContainerLabel.style.display = "none";
      absenteeismContainer.style.display = "none";
      absenteeismContainerLabel.style.display = "none";
      titleContainer.style.display = "flex";
      titleContainerLabel.style.display = "flex";

      const tableGridDiv = document.querySelector("#titleTable");
      
      // tableGridDiv.style.setProperty("height", 600);
      
      tableGridApi = agGrid.createGrid(
            tableGridDiv, tableOptions
         );
         displayDistrictTitleTable.initialize = true;
   }
   else {

      tableGridApi.setGridOption(
            "columnDefs", tableOptions.columnDefs
         );
      tableGridApi.setGridOption("rowData", tabledata);
   }
};


async function displayAttendanceTables(data) {

   let absenteeismCheck, attendanceCheck;

   let attendanceLabel = document.getElementById("container-attendance-label");
   const stateName = stateSelection.options[stateSelection.selectedIndex].text;
   attendanceLabel.firstChild.textContent = stateName + " Attendance Rate";

   let absenteeismLabel = document.getElementById("container-absenteeism-label");
   absenteeismLabel.firstChild.textContent = stateName + " Chronic Absenteeism";

   console.log(attendanceGridApi)

   if (!Array.isArray(data) || !data.length) {
      if (attendanceGridApi == 'undefined') {
         console.log("CREATE BLANK TANBLE")
      }
      attendanceGridApi.setGridOption("rowData", [])
      attendanceGridApi.showNoRowsOverlay();

      absenteeismGridApi.setGridOption("rowData", [])
      absenteeismGridApi.showNoRowsOverlay();
   }
   else {
      
      let attendanceCols = ["ID", "District Name", "Year", "Attendance Rate"];
      let attendanceFiltered = filterObj(data, attendanceCols);

      // if all values are undefined, the Check variables will also be undefined
      attendanceCheck = attendanceFiltered.find(obj => typeof obj["Attendance Rate"] != 'undefined');

      console.log(attendanceGridApi)
      if (attendanceCheck == undefined) {
         attendanceGridApi.setGridOption("rowData", [])
         attendanceGridApi.showNoRowsOverlay();
      } else {

         // drop objects (Years) with null values - note if a district has 
         // undefined values for all years, the district will be dropped
         // completely // TODO: May want to change this later //
         let attendanceCleaned = attendanceFiltered.filter(item => item["Attendance Rate"] !== undefined) 

         // Change "Attendance Rate" key to the applicable Year
         let attendanceRenamed = replaceKeyWithValue(attendanceCleaned, 'Year', 'Attendance Rate');

         // merge all years on ID
         let attendanceMerged = mergeObjectsWithSameValue(attendanceRenamed, "ID")

         let yearcols = getYearList(attendanceMerged)

         // sort the values by the most recent year
         let attendanceSorted = sortObjectsByNumberWithBlanksToEnd(attendanceMerged,yearcols[0])

         let attendanceTableOptions = createTitleTable(attendanceSorted, "attendanceTable");

         if (!displayAttendanceTables.attendanceInit) {
            
            const attendanceTableGridDiv = document.querySelector("#attendanceTable");
            
            attendanceGridApi = agGrid.createGrid(
               attendanceTableGridDiv, attendanceTableOptions
               );
            displayAttendanceTables.attendanceInit = true;
         }
         else {
            attendanceGridApi.setGridOption(
               "columnDefs", attendanceTableOptions.columnDefs
            );
            attendanceGridApi.setGridOption("rowData", attendanceMerged);
         }      
      }

      let absenteeismCols = ["ID", "District Name", "Year", "Chronic Absenteeism"];
      let absenteeismFiltered = filterObj(data, absenteeismCols);

      absenteeismCheck = absenteeismFiltered.find(obj => typeof obj["Chronic Absenteeism"] != 'undefined');

      if (absenteeismCheck == undefined) {
         // blankTable("absenteeismTable")
         absenteeismGridApi.setGridOption("rowData", [])
         absenteeismGridApi.showNoRowsOverlay();
      } else {
         // CA
         let absenteeismCleaned = absenteeismFiltered.filter(item => item["Chronic Absenteeism"] !== undefined)
         let absenteeismRenamed = replaceKeyWithValue(absenteeismCleaned, 'Year', 'Chronic Absenteeism');
         let absenteeismMerged = mergeObjectsWithSameValue(absenteeismRenamed, "ID")

         let absenteeismSorted = sortObjectsByNumberWithBlanksToEnd(absenteeismMerged,"2024")

         let absenteeismTableOptions = createTitleTable(absenteeismSorted, "attendanceTable");

         if (!displayAttendanceTables.absenteeismInit) {
            
            const absenteeismTableGridDiv = document.querySelector("#absenteeismTable");

            absenteeismGridApi = agGrid.createGrid(
               absenteeismTableGridDiv, absenteeismTableOptions
               );

            displayAttendanceTables.absenteeismInit = true;
         }
         else {
            absenteeismGridApi.setGridOption(
               "columnDefs", absenteeismTableOptions.columnDefs
            );
            absenteeismGridApi.setGridOption("rowData", absenteeismMerged);
         }
      }
   }
};


/* Initialize */
if (document.readyState !== "loading") {
   await setStateList()
   await getStateData(stateSelection.value);
   await getSingleDistrictData(districtSelection.value);
   await getAllDistrictData(stateSelection.value);
};

</script>
</html>